body{
	background-color: #326273;
	height: 100%;
	box-sizing: border-box;
}
.container {
	color: #EEEEEE;
	font-family: 'Martel Sans', sans-serif;
	text-align: center;
	min-height: 100%;
}
.header{
	font-family: 'Bungee', cursive;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	margin: 3rem 0 5rem 0;
}
.pagecontent{

}
.btn {
	display: inline-block;
	margin: 3rem;
	background: #e2e2e2;
	line-height: 1em;
	background: none;
	border: 2px solid #EEEEEE;
	color: #EEEEEE;
	font-family: 'Bungee', cursive;
	padding: 1em 2em;
	text-transform: uppercase;
	transition: 0.4s;
  }
.btn:hover{
	box-shadow: inset 8em 0 0 0 #EEEEEE;
	color: #326273;
	border: 2px solid #EEEEEE;
	
}
.col-md-4{
	font-size:0.8em;
	text-align: justify;
	border-left: 1px solid rgba(238,238,238, 0.6);
}
.col-md-4 ul{
	list-style-type: none;
	color: rgba(238,238,238, 0.7);
}

form label{
	display: none;
}